.search-text{
    font-size: 18px;

}
input{
    width: 50%;
    padding: 7px;
    background:#F0FFFF;
    border: none;
    display: block;
    margin-left: 20px;
    margin-top: -10px;
    
}
input:hover{
    border: none;
    border-bottom: 1px solid black;
   
}