.contact-info{
    width: 100%;
    justify-content: space-around;
}
small{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .contact-info{
        display: none;
    }
    small{
        display: none;
    }
    .icon{
        display: none;
    }
}
