@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@100;200;300;400;700&display=swap');

.top-nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.top-nav a{
    text-decoration: none;
    color: gray;
    padding: 0px 20px;
    cursor: pointer;
}
.top-nav a:hover{
    color: #f5f5f5f5;
    background: red;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    transform: translateX(0.5s);
}