.customer-login{
    display: flex;
    flex-direction: column;
   
}
.customer-login form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
}
.heading h2{
    font-size: 20px;
    margin-top: 20px;
    color: black;
    margin-bottom: 50px;
}
.customer-login input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    outline: none;
}
.highlight{
    margin-top: 20px;
}
.login-btn{
    background: #333;
    margin-top: 30px;
    width: 270px;
    margin-left: 20px;
    border-radius: 10px;
    color: #fff;
}
.login-btn:hover{
    background: red;
}
