@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
.list{
    list-style: none;
    font-size: 14px;
    display: flex;
    padding: 10px;
    background: #C70039;
    color: #fff;
    border-right: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    float: right;
    cursor: pointer;
    transition: 0.5s;
   justify-content: center;
}
.list:hover{
    color: #333;
    background-color: #FFB919;
    
}
.list-item{

    height: 50px;
    padding: 30px 100px;
    
}