.transaction{
    display: flex;
}
.balance,.withdraw,.deposit{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-right: 30px;
    color: #fff;
    border-radius: 20px;
}
.balance{
    background: #FE7C00;
}
.withdraw{
    background: #C70039;
}
.deposit{
    background: #009F93;
}
Table{
    margin-top: 300px;
}